<!DOCTYPE html>
<html ng-app="SPAPP">
	
	<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js"></script>
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular-route.min.js"></script>
		<script type="text/javascript" src="./spapp.js"></script>
	</head>

	<body>
		<div ng-controller="SPAPPController">
		Welcome to {{ siteName }} (Single Page APP)
		</div>
		
		<displayhierarchy></displayhierarchy>		
		<div ng-controller="ResultsController">
			
			<div ng-repeat="(id, name) in groups">
				<a href="#" id="{{ id }}">{{ name }}</a>
				<div ng-show="subgroups[id]">
					<div ng-repeat="sName in subgroups[id]">
				----{{ sName }}
				</div>
				</div>
			</div>

		</div>
	</body>

</html>