<table border="1" ng-show="groups">
						
<thead>
	<tr>
		<th>Group</th><th>SubGroup</th><th></th>
	</tr>
</thead>


<tr ng-repeat="(id, name) in groups">
	<td>
		{{ name }}
	</td>
	<td>
		<div ng-show="subgroups[id]">
			<div ng-repeat="sName in subgroups[id]">
			{{ sName }}
			</div>
		</div>
	</td>
	<td>
		<a href="#/addSubgroup/{{id}}" id="{{ id }}">Add Subgroup</a>			
	</td>
</tr>

</table>

<a href="#/" ng-click="showAddGroupForm()">Add Group  </a> 	

<div ng-show="groupFormShown">Add new group
<input ng-model="groupName"/>
<button ng-click="addNewGroup()">Add</button>
</div>