<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
	<link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/style.css">
  <title><%= title %></title>
</head>
<body ng-app="SPAPP">
<div class="container">
<div ng-controller="ResultsController">
  <section ng-view></section>
</div>
</div>
   <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

  <script type="text/javascript" src="/spapp/spapp.client.module.js"></script>
  <script type="text/javascript" src="/spapp/controllers/spapp.client.controller.js"></script>
  <script type="text/javascript" src="/spapp/routes/spapp.client.routes.js"></script>

  <script type="text/javascript" src="/application.js"></script>
  
</body>
</html>